[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
cuid = "*"
twilio = "*"

[dev-packages]

[requires]
python_version = "3.12"
