annotated-types==0.6.0
anyio==4.2.0
appnope==0.1.3
asttokens==2.4.0
backcall==0.2.0
certifi @ file:///private/tmp/python-certifi-20231008-5412-1rk63p1/certifi-2023.7.22
cffi @ file:///private/tmp/cffi-20231014-5454-1xfyd4s/cffi-1.16.0
click==8.1.7
decorator==5.1.1
distlib @ file:///private/tmp/python-distlib-20231212-4774-clg0vf/distlib-0.3.8
dnspython==2.5.0
docutils @ file:///private/tmp/docutils-20231015-5350-1xd6hrn/docutils-0.20.1
email-validator==2.1.0.post1
executing==2.0.0
fastapi==0.109.0
filelock @ file:///private/tmp/python-filelock-20231112-5412-u6v39j/filelock-3.13.1/dist/filelock-3.13.1-py3-none-any.whl#sha256=57dbda9b35157b05fb3e58ee91448612eb674172fab98ee235ccb0b5bee19a1c
h11==0.14.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
idna==3.6
ipython==8.16.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
MarkupSafe==2.1.4
matplotlib-inline==0.1.6
orjson==3.9.12
packaging @ file:///private/tmp/python-packaging-20231018-5228-nhvg0j/packaging-23.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
platformdirs @ file:///private/tmp/python-platformdirs-20231204-5228-f28h82/platformdirs-4.1.0
prompt-toolkit==3.0.39
protobuf==4.25.1
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser @ file:///private/tmp/pycparser-20231013-5559-1dtd22y/pycparser-2.21
pydantic==2.5.3
pydantic-extra-types==2.4.1
pydantic-settings==2.1.0
pydantic_core==2.14.6
Pygments==2.16.1
python-dotenv==1.0.1
python-multipart==0.0.6
PyYAML==6.0.1
six==1.16.0
sniffio==1.3.0
stack-data==0.6.3
starlette==0.35.1
traitlets==5.11.2
typing_extensions==4.9.0
ujson==5.9.0
uvicorn==0.27.0.post1
uvloop==0.19.0
virtualenv==20.24.6
watchfiles==0.21.0
wcwidth==0.2.8
websockets==12.0
